@font-face {
    font-family: "Beyond";
    src: url(../fonts/beyond_the_mountains.otf) format("opentype"),
        url(../fonts/beyond_the_mountains.ttf) format("truetype");
}
html {
    font-size: 100%;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: inherit;
    font-family: "Open Sans", sans-serif;
    background-color: var(--white);
    line-height: 2;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    resize: none;
}

:root {
    --primary: #fa9e1c;
    --secondary: #2d2c2c;
    --white: #ffffff;
    --light: #f8f9fa;
    --dark: #929191;
    --dark: #343a40;
    --black: #000;
}
/* font size */

/* flex-box */
.d-flex {
    display: flex;
    &.column {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.justify-around {
        justify-content: space-around;
    }
    &.items-center {
        align-items: center;
    }
    &.items-start {
        align-items: flex-start;
    }
    &.items-end {
        align-items: flex-end;
    }
}
.swiper-btn {
    position: absolute;
    width: 28px;
    height: 33px;
    top: 50%;
    transform: translateY(-50%);
    border: solid 2px white;
    border-radius: 10px;
    z-index: 2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
}

/* rounded button */
.rounded-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 46px;
    color: var(--white);
    line-height: 53px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 53px;
    border-style: none;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    -ms-border-radius: 53px;
    -o-border-radius: 53px;
    cursor: pointer;
    &-sm {
        font-size: 13px;
        font-weight: 100;
        line-height: 27px;
        text-transform: capitalize;
        padding: 0 39px;
        border-radius: 27px;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        -ms-border-radius: 27px;
        -o-border-radius: 27px;
    }
    .dot {
        display: inline-block;
        vertical-align: middle;
        width: 5.75px;
        height: 5.63px;
        background: #fff;
        border-radius: 50%;
        margin-right: 3px;
        margin-top: 1%;
        &:first-child {
            opacity: 1;
        }
        &:nth-child(2) {
            opacity: 0.6;
        }
        &:last-child {
            opacity: 0.4;
        }
    }
}
.input-field {
    height: 48px;
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-bottom: solid 2px #e1e1e1;
    outline: none;
    background: transparent;
    &::placeholder {
        color: var(--white);
    }
    &:-ms-input-placeholder {
        color: var(--white);
    }

    &::-ms-input-placeholder {
        color: var(--white);
    }
}
.hide-for-mobile {
    @include breakpoint-down(large) {
        display: none;
    }
}
.hide-for-pc {
    @include breakpoint-up(large) {
        display: none;
    }
}
