*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: var(--white);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    resize: none;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --violet: #31124b;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #fa9e1b;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #000;
}
/* flex-box */
.d-flex {
    display: flex;
    &.column {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.justify-around {
        justify-content: space-around;
    }
    &.items-center {
        align-items: center;
    }
    &.items-start {
        align-items: flex-start;
    }
    &.items-end {
        align-items: flex-end;
    }
}
.swiper-btn {
    position: absolute;
    width: 28px;
    height: 33px;
    top: 50%;
    transform: translateY(-50%);
    border: solid 2px white;
    border-radius: 10px;
    z-index: 2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    &:hover {
        border: solid 2px linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    }
}

/* rounded button */
.rounded-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 46px;
    color: var(--white);
    line-height: 53px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 53px;
    border-style: none;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    -ms-border-radius: 53px;
    -o-border-radius: 53px;
    cursor: pointer;
    &-sm {
        font-size: 13px;
        font-weight: 100;
        line-height: 27px;
        text-transform: capitalize;
        padding: 0 39px;
        border-radius: 27px;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        -ms-border-radius: 27px;
        -o-border-radius: 27px;
    }
    & p {
        display: inline-block;
        padding-right: 7px;
        color: var(--white);
    }
    .dot {
        display: inline-block;
        vertical-align: middle;
        width: 5.75px;
        height: 5.63px;
        background: #fff;
        border-radius: 50%;
        margin-right: 3px;
        margin-top: 1%;
        &:first-child {
            opacity: 1;
        }
        &:nth-child(2) {
            opacity: 0.6;
        }
        &:last-child {
            opacity: 0.4;
        }
    }
}
.input-field {
    height: 48px;
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-bottom: solid 2px #e1e1e1;
    outline: none;
    background: transparent;
    &::placeholder {
        color: var(--white);
    }
    &:-ms-input-placeholder {
        color: var(--white);
    }

    &::-ms-input-placeholder {
        color: var(--white);
    }
}
