$breakpoints-up: (
    "small": "576px",
    "medium": "768px",
    "large": "992px",
    "xlarge": "1200px",
);

/* 575px, 767px, 991px, 1023px, 1239px */
$breakpoints-down: (
    "small": "575px",
    "medium": "767px",
    "large": "991px",
    "xlarge": "1199px",
);

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

@mixin breakpoint($minWidth, $maxWidth) {
    @media (min-width: map-get($breakpoints-up, $minWidth)) and (max-width: map-get($breakpoints-down, $maxWidth)) {
        @content;
    }
}
@mixin primary-bg {
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
}
@mixin secondary-bg {
    background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
}
