#offers {
    padding: 105px 0 43px 0;
    .heading-container {
        .offers__heading {
            display: block;
            color: var(--black);
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .offers-item {
        margin-top: 90px;
        .offers-image-container {
            position: relative;
            width: 100%;
            height: 100%;
            .offers-image-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .offers-name {
                position: absolute;
                bottom: 30px;
                left: 0;
                background-color: var(--yellow);
                a {
                    color: var(--white);
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 35px;
                    text-transform: uppercase;
                    text-align: center;
                    padding-left: 20px;
                    padding-right: 30px;
                }
            }
        }
        .offers-content {
            .offers-price {
                color: #eda84a;
                font-size: 36px;
                font-weight: 700;
                text-transform: uppercase;
                span {
                    color: var(--gray);
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: lowercase;
                }
            }
            .offers-rating {
                margin-bottom: 25px;
                .fas {
                    font-size: 13px;
                    margin-left: 5px;
                    z-index: 3;
                    &:first-child {
                        color: #ffeb8d;
                    }
                    &:nth-child(2) {
                        color: #fed46b;
                    }
                    &:nth-child(3) {
                        color: #fbb53d;
                    }
                    &:nth-child(4) {
                        color: #fa9e1b;
                    }
                    &:last-child {
                        color: var(--gray);
                    }
                }
            }
            .offers-text {
                color: var(--gray);
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
                line-height: 2;
                margin-bottom: 24px;
            }
            .offers-icons {
                margin-bottom: 56px;
                .offers-icons-list {
                    .offers-icon-item {
                        padding-right: 15px;
                    }
                }
            }
            .offers-readmore {
                a {
                    color: var(--black);
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    transition: all 100ms ease-in;
                    -webkit-transition: all 100ms ease-in;
                    -moz-transition: all 100ms ease-in;
                    -ms-transition: all 100ms ease-in;
                    -o-transition: all 100ms ease-in;
                    &:hover {
                        color: #fa9e1b;
                    }
                }
            }
        }
    }
}
