#search {
    position: relative;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    @include breakpoint-down(xlarge) {
        padding: 100px 0;
        height: auto;
    }
    .search-container-menu {
        position: absolute;
        bottom: 100%;
        z-index: 1;
        @include breakpoint-down(xlarge) {
            position: relative;
            bottom: unset;
        }
        .row {
            @include breakpoint-down(xlarge) {
                flex-direction: column;
            }
            .search-menu-item {
                color: var(--black);
                flex: 1;
                height: 94px;
                background-color: var(--white);
                transition: all 300ms ease-in;
                -webkit-transition: all 300ms ease-in;
                -moz-transition: all 300ms ease-in;
                -ms-transition: all 300ms ease-in;
                -o-transition: all 300ms ease-in;
                cursor: pointer;
                @include breakpoint-down(xlarge) {
                    flex-basis: 62px;
                    justify-content: flex-start;
                }
                &:hover,
                &.active {
                    color: var(--white);
                    background-color: var(--primary);
                    & > img {
                        filter: brightness(200%) grayscale(100%);
                    }
                }
                &:first-child {
                    border-top-left-radius: 94px;
                    @include breakpoint-down(xlarge) {
                        border-radius: 0;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        -ms-border-radius: 0;
                        -o-border-radius: 0;
                    }
                }
                &:last-child {
                    border-top-right-radius: 94px;
                    @include breakpoint-down(xlarge) {
                        border-radius: 0;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        -ms-border-radius: 0;
                        -o-border-radius: 0;
                    }
                }
                img {
                    padding-right: 10px;
                    @include breakpoint-down(xlarge) {
                        padding-left: 18px;
                    }
                }
                span {
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    white-space: nowrap;
                }
            }
        }
    }
    .search-container {
        height: 192px;
        @include breakpoint-down(xlarge) {
            height: 100%;
            margin-top: 46px;
        }
        .row {
            height: 100%;
            justify-content: center;
            align-items: center;
            @include breakpoint-down(xlarge) {
                justify-content: flex-start;
            }
            .search-container__item {
                position: relative;
                padding-right: 15px;
                @include breakpoint-down(xlarge) {
                    width: 100%;
                    padding-right: 5px;
                    margin-top: 18px;
                }
                label {
                    display: block;
                    color: var(--white);
                    padding-bottom: 14px;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                input,
                select {
                    position: relative;
                    color: var(--gray);
                    font-size: 13px;
                    font-weight: 700;
                    width: 100%;
                    height: 46px;
                    border: none;
                    outline: none;
                    display: inline-block;
                    padding: 0 14px;
                    appearance: none;
                }
                select {
                    cursor: pointer;
                }
                .fas {
                    position: absolute;
                    content: "";
                    top: 70%;
                    right: 30%;
                    color: var(--gray);
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    cursor: pointer;
                    @include breakpoint-down(xlarge) {
                        right: 10%;
                    }
                }
            }
            .search-button {
                margin-top: 32px;
                background-color: var(--purple);
                @include breakpoint-down(xlarge) {
                    margin-top: 48px;
                }
            }
        }
    }
}
