#search {
    position: relative;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    .search-container-menu {
        position: absolute;
        bottom: 100%;
        z-index: 1;
        .search-menu-item {
            color: var(--black);
            flex: 1;
            height: 94px;
            cursor: pointer;
            background-color: var(--white);
            transition: all 300ms ease-in;
            -webkit-transition: all 300ms ease-in;
            -moz-transition: all 300ms ease-in;
            -ms-transition: all 300ms ease-in;
            -o-transition: all 300ms ease-in;
            &:hover,
            &.active {
                color: var(--white);
                background-color: var(--yellow);
                & > img {
                    filter: brightness(200%) grayscale(100%);
                }
            }
            &:first-child {
                border-top-left-radius: 94px;
            }
            &:last-child {
                border-top-right-radius: 94px;
            }
            img {
                padding-right: 10px;
            }
            span {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
    }
    .search-container {
        height: 192px;
        .row {
            height: 100%;
            justify-content: center;
            align-items: center;
            .search-container__item {
                position: relative;
                padding-right: 15px;
                label {
                    display: block;
                    color: var(--white);
                    padding-bottom: 14px;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                input,
                select {
                    position: relative;
                    color: var(--gray);
                    font-size: 13px;
                    font-weight: 700;
                    width: 100%;
                    height: 46px;
                    border: none;
                    outline: none;
                    display: inline-block;
                    padding: 0 14px;
                    appearance: none;
                }
                select {
                    cursor: pointer;
                }
                .fas {
                    position: absolute;
                    content: "";
                    top: 70%;
                    right: 30%;
                    color: var(--gray);
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    cursor: pointer;
                }
            }
            .search-button {
                margin-top: 32px;
                background-color: var(--violet);
            }
        }
    }
}
