/* 575px, 767px, 991px, 1023px, 1239px */
@font-face {
  font-family: "Beyond";
  src: url(../fonts/beyond_the_mountains.otf) format("opentype"), url(../fonts/beyond_the_mountains.ttf) format("truetype");
}
html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
}

:root {
  --primary: #fa9e1c;
  --secondary: #2d2c2c;
  --purple: #31124b;
  --white: #ffffff;
  --light: #f8f9fa;
  --gray: #929191;
  --dark: #343a40;
  --black: #000;
}

/* font size */
/* flex-box */
.d-flex {
  display: flex;
}
.d-flex.column {
  flex-direction: column;
}
.d-flex.row {
  flex-direction: row;
}
.d-flex.justify-center {
  justify-content: center;
}
.d-flex.justify-between {
  justify-content: space-between;
}
.d-flex.justify-around {
  justify-content: space-around;
}
.d-flex.items-center {
  align-items: center;
}
.d-flex.items-start {
  align-items: flex-start;
}
.d-flex.items-end {
  align-items: flex-end;
}

.swiper-btn {
  position: absolute;
  width: 28px;
  height: 33px;
  top: 50%;
  transform: translateY(-50%);
  border: solid 2px white;
  border-radius: 10px;
  z-index: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}

/* rounded button */
.rounded-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 34px;
  color: var(--white);
  line-height: 53px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 53px;
  border-style: none;
  -webkit-border-radius: 53px;
  -moz-border-radius: 53px;
  -ms-border-radius: 53px;
  -o-border-radius: 53px;
  cursor: pointer;
  /* @include breakpoint-down(xxlarge) {
      padding: 0 30px;
  } */
}
.rounded-button p {
  display: inline-block;
}
.rounded-button-sm {
  font-size: 13px;
  font-weight: 100;
  line-height: 27px;
  text-transform: capitalize;
  padding: 0 39px;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}
.rounded-button .dot {
  display: inline-block;
  vertical-align: middle;
  width: 5.75px;
  height: 5.63px;
  background: #fff;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 1%;
}
.rounded-button .dot:first-child {
  opacity: 1;
}
.rounded-button .dot:nth-child(2) {
  opacity: 0.6;
}
.rounded-button .dot:last-child {
  opacity: 0.4;
}

.input-field {
  height: 48px;
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  border: none;
  border-bottom: solid 2px #e1e1e1;
  outline: none;
  background: transparent;
}
.input-field::placeholder {
  color: var(--white);
}
.input-field:-ms-input-placeholder {
  color: var(--white);
}
.input-field::-ms-input-placeholder {
  color: var(--white);
}

@media (max-width: 991px) {
  .hide-for-mobile {
    display: none;
  }
}
@media (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-for-pc {
    display: none;
  }
}

.heading-section {
  display: block;
  color: var(--secondary);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 991px) {
  .heading-section {
    line-height: 1.3;
  }
}
@media (max-width: 575px) {
  .heading-section {
    font-size: 22px;
  }
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
.m-2,
.m-3,
.m-4,
.m-5,
.m-6,
.m-7,
.m-8,
.m-9,
.m-10,
.m-11,
.m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}
@media (max-width: 740px) {
  .grid.wide {
    max-width: 98%;
  }

  .row {
    margin-left: 5px;
    margin-right: 5px;
  }
}
/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
.l-2,
.l-2-4,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}
/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .l-0 {
    display: none;
  }

  .wide .l-1,
.wide .l-2,
.wide .l-2-4,
.wide .l-3,
.wide .l-4,
.wide .l-5,
.wide .l-6,
.wide .l-7,
.wide .l-8,
.wide .l-9,
.wide .l-10,
.wide .l-11,
.wide .l-12 {
    display: block;
  }

  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .l-o-1 {
    margin-left: 8.33333%;
  }

  .wide .l-o-2 {
    margin-left: 16.66667%;
  }

  .wide .l-o-3 {
    margin-left: 25%;
  }

  .wide .l-o-4 {
    margin-left: 33.33333%;
  }

  .wide .l-o-5 {
    margin-left: 41.66667%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }

  .wide .l-o-7 {
    margin-left: 58.33333%;
  }

  .wide .l-o-8 {
    margin-left: 66.66667%;
  }

  .wide .l-o-9 {
    margin-left: 75%;
  }

  .wide .l-o-10 {
    margin-left: 83.33333%;
  }

  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}
#header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
#header .header__top-bar {
  font-size: 0.875rem;
  background-color: #350a4e;
  visibility: visible;
  height: 36px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  opacity: 1;
  z-index: 3;
}
#header .header__top-bar.scrolled {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
#header .header__top-bar .grid .row .top-bar-menu {
  width: 100%;
}
#header .header__top-bar .grid .row .top-bar-menu .phone-number {
  color: var(--white);
  font-size: 0.625rem;
  line-height: 36px;
  margin-right: 36px;
}
#header .header__top-bar .grid .row .top-bar-menu .social .social-list {
  display: block;
  list-style: none;
  align-items: center;
  height: 100%;
  align-content: center;
}
#header .header__top-bar .grid .row .top-bar-menu .social .social-list .social-item {
  list-style: none;
  display: inline-block;
  height: 100%;
}
#header .header__top-bar .grid .row .top-bar-menu .social .social-list .social-item .social-icon {
  line-height: 36px;
  padding: 0 0.625rem;
}
#header .header__top-bar .grid .row .top-bar-menu .social .social-list .social-item .social-icon i {
  color: var(--white);
  font-size: 12px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
#header .header__top-bar .grid .row .top-bar-menu .social .social-list .social-item .social-icon i:hover {
  color: var(--primary);
}
#header .header__top-bar .grid .row .top-bar-menu .user-box {
  margin-left: auto;
}
#header .header__top-bar .grid .row .top-bar-menu .user-box .login-btn {
  color: var(--white);
  font-size: 0.625rem;
  text-transform: uppercase;
  line-height: 36px;
  position: relative;
  padding-right: 14px;
}
#header .header__top-bar .grid .row .top-bar-menu .user-box .login-btn:hover {
  color: var(--primary);
}
#header .header__top-bar .grid .row .top-bar-menu .user-box .login-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 3px;
  display: inline-block;
  width: 2px;
  height: 14px;
  background-color: var(--white);
}
#header .header__top-bar .grid .row .top-bar-menu .user-box .register-btn {
  color: var(--white);
  font-size: 0.625rem;
  text-transform: uppercase;
  line-height: 36px;
}
#header .header__top-bar .grid .row .top-bar-menu .user-box .register-btn:hover {
  color: var(--primary);
}
#header .header__navbar {
  display: block;
  background-color: rgba(54, 19, 84, 0.6);
  z-index: 10;
}
#header .header__navbar .col {
  width: 100%;
}
#header .header__navbar .col.main-nav-col {
  height: 143px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  z-index: 10;
}
#header .header__navbar .col.main-nav-col.scrolled {
  height: 100px;
}
#header .header__navbar .col .brand-logo {
  padding-bottom: 13px;
}
#header .header__navbar .col .brand-logo img {
  display: inline-block;
  margin-right: 6px;
}
#header .header__navbar .col .brand-logo .brand-title {
  display: inline-block;
  color: #f4f4f8;
  font-size: 1.875rem;
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 575px) {
  #header .header__navbar .col .brand-logo .brand-title {
    font-size: 22px;
  }
}
#header .header__navbar .col .nav .menu-list .menu-item:not(:last-child) {
  margin-right: 40px;
}
#header .header__navbar .col .nav .menu-list .menu-item .menu-link {
  position: relative;
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
#header .header__navbar .col .nav .menu-list .menu-item .menu-link:hover.menu-link::after {
  visibility: visible;
  opacity: 1;
  transition: opacity ease 300ms;
  -webkit-transition: opacity ease 300ms;
  -moz-transition: opacity ease 300ms;
  -ms-transition: opacity ease 300ms;
  -o-transition: opacity ease 300ms;
}
#header .header__navbar .col .nav .menu-list .menu-item .menu-link::after {
  content: "";
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  transition: opacity ease 300ms;
  -webkit-transition: opacity ease 300ms;
  -moz-transition: opacity ease 300ms;
  -ms-transition: opacity ease 300ms;
  -o-transition: opacity ease 300ms;
}
#header .header__navbar .col .menu-button {
  position: relative;
  height: 100%;
  cursor: pointer;
}
#header .header__navbar .col .menu-button .fas {
  position: relative;
  display: block;
  text-align: center;
  color: var(--white);
  font-size: 24px;
}
#header .header__navbar .col .search-btn {
  display: inline-block;
  margin-right: 14px;
  cursor: pointer;
}
#header .header__navbar .col .search-btn .fas {
  color: var(--white);
}
#header .header__navbar .col .search-btn .fas:hover {
  color: var(--primary);
}

.res-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  visibility: hidden;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.res-menu.active {
  opacity: 0.95;
  visibility: visible;
  z-index: 99;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.res-menu .res-menu-close {
  position: absolute;
  top: 95px;
  right: 10%;
  cursor: pointer;
}
.res-menu .res-menu-close i {
  color: var(--white);
  font-size: 24px;
}
.res-menu .res-menu-list {
  margin-top: 24px;
}
.res-menu .res-menu-list .res-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.res-menu .res-menu-list .res-menu-item .res-menu-link {
  color: var(--white);
  font-size: 36px;
  font-weight: 400;
  font-family: "Beyond";
  line-height: 1.5;
  text-align: center;
  text-transform: lowercase;
}

#hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
#hero .swiper {
  width: 100%;
  height: 100%;
}
#hero .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  -moz-transition: all 1000ms ease-in-out;
  -ms-transition: all 1000ms ease-in-out;
  -o-transition: all 1000ms ease-in-out;
}
#hero .swiper .swiper-slide .hero__bg {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)), url("../images/home_slider.jpg");
}
#hero .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
#hero .swiper .swiper-slide .hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#hero .swiper .swiper-slide .hero__content .content-header {
  font-size: 112px;
  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;
  line-height: normal;
}
@media (max-width: 1199px) {
  #hero .swiper .swiper-slide .hero__content .content-header {
    font-size: 92px;
  }
}
@media (max-width: 991px) {
  #hero .swiper .swiper-slide .hero__content .content-header {
    font-size: 72px;
  }
}
@media (max-width: 575px) {
  #hero .swiper .swiper-slide .hero__content .content-header {
    font-size: 48px;
  }
}
#hero .swiper .swiper-slide .hero__content .content-paragraph {
  font-size: 100px;
  font-family: "Beyond";
  color: var(--white);
  line-height: normal;
}
@media (max-width: 1199px) {
  #hero .swiper .swiper-slide .hero__content .content-paragraph {
    font-size: 80px;
  }
}
@media (max-width: 575px) {
  #hero .swiper .swiper-slide .hero__content .content-paragraph {
    font-size: 42px;
  }
}
@media (max-width: 991px) {
  #hero .swiper .swiper-slide .hero__content .content-paragraph {
    font-size: 60px;
    margin-bottom: 30px;
  }
}
#hero .swiper .swiper-slide .hero__content .swiper-button {
  position: absolute;
  display: inline-block;
  bottom: -60%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#hero .swiper .swiper-slide .hero__content .swiper-button a {
  color: var(--white);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
#hero .swiper .swiper-slide .hero__content .swiper-button:hover .button-bg {
  top: 0;
  left: -100%;
}
#hero .swiper .swiper-slide .hero__content .swiper-button .button-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
#hero .swiper .swiper-button-next {
  margin-right: 50px;
  right: 0;
}
#hero .swiper .swiper-button-next .fas {
  color: var(--white);
  font-size: 10px;
}
#hero .swiper .swiper-button-prev {
  margin-left: 50px;
  left: 0;
}
#hero .swiper .swiper-button-prev .fas {
  color: var(--white);
  font-size: 10px;
}

#search {
  position: relative;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
}
@media (max-width: 1023px) {
  #search {
    padding: 100px 0;
    height: auto;
  }
}
#search .search-container-menu {
  position: absolute;
  bottom: 100%;
  z-index: 1;
}
@media (max-width: 1023px) {
  #search .search-container-menu {
    position: relative;
    bottom: unset;
  }
}
@media (max-width: 1023px) {
  #search .search-container-menu .row {
    flex-direction: column;
  }
}
#search .search-container-menu .row .search-menu-item {
  color: var(--black);
  flex: 1;
  height: 94px;
  background-color: var(--white);
  transition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  cursor: pointer;
}
@media (max-width: 1023px) {
  #search .search-container-menu .row .search-menu-item {
    flex-basis: 62px;
    justify-content: flex-start;
  }
}
#search .search-container-menu .row .search-menu-item:hover, #search .search-container-menu .row .search-menu-item.active {
  color: var(--white);
  background-color: var(--primary);
}
#search .search-container-menu .row .search-menu-item:hover > img, #search .search-container-menu .row .search-menu-item.active > img {
  filter: brightness(200%) grayscale(100%);
}
#search .search-container-menu .row .search-menu-item:first-child {
  border-top-left-radius: 94px;
}
@media (max-width: 1023px) {
  #search .search-container-menu .row .search-menu-item:first-child {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
#search .search-container-menu .row .search-menu-item:last-child {
  border-top-right-radius: 94px;
}
@media (max-width: 1023px) {
  #search .search-container-menu .row .search-menu-item:last-child {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
#search .search-container-menu .row .search-menu-item img {
  padding-right: 10px;
}
@media (max-width: 1023px) {
  #search .search-container-menu .row .search-menu-item img {
    padding-left: 18px;
  }
}
#search .search-container-menu .row .search-menu-item span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
#search .search-container {
  height: 192px;
}
@media (max-width: 1023px) {
  #search .search-container {
    height: 100%;
    margin-top: 46px;
  }
}
#search .search-container .row {
  height: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  #search .search-container .row {
    justify-content: flex-start;
  }
}
#search .search-container .row .search-container__item {
  position: relative;
  padding-right: 15px;
}
@media (max-width: 1023px) {
  #search .search-container .row .search-container__item {
    width: 100%;
    padding-right: 5px;
    margin-top: 18px;
  }
}
#search .search-container .row .search-container__item label {
  display: block;
  color: var(--white);
  padding-bottom: 14px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
#search .search-container .row .search-container__item input,
#search .search-container .row .search-container__item select {
  position: relative;
  color: var(--gray);
  font-size: 13px;
  font-weight: 700;
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  display: inline-block;
  padding: 0 14px;
  appearance: none;
}
#search .search-container .row .search-container__item select {
  cursor: pointer;
}
#search .search-container .row .search-container__item .fas {
  position: absolute;
  content: "";
  top: 70%;
  right: 30%;
  color: var(--gray);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 1023px) {
  #search .search-container .row .search-container__item .fas {
    right: 10%;
  }
}
#search .search-container .row .search-button {
  margin-top: 32px;
  background-color: var(--purple);
}
@media (max-width: 1023px) {
  #search .search-container .row .search-button {
    margin-top: 48px;
  }
}

#tour .tour-container {
  margin: 80px 0;
}
#tour .tour-container .content {
  width: 100%;
  /* .heading-text {
      display: block;
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      color: var(--secondary);
      @include breakpoint-down(xlarge) {
          margin-bottom: 24px;
      }
      @include breakpoint-down(small) {
          font-size: 26px;
      }
  } */
}
#tour .tour-container .content .paragraph-text {
  display: block;
  margin-bottom: 50px;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  color: var(--gray);
}
@media (max-width: 1023px) {
  #tour .tour-container .content .paragraph-text {
    line-height: 1.3;
    margin-bottom: 64px;
  }
}
@media (max-width: 575px) {
  #tour .tour-container .content .paragraph-text {
    font-size: 16px;
  }
}
#tour .tour-container .card-container .card-item {
  position: relative;
  height: 425px;
}
#tour .tour-container .card-container .card-item .card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
#tour .tour-container .card-container .card-item .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 18, 75, 0.55);
  z-index: 2;
}
#tour .tour-container .card-container .card-item .card-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}
#tour .tour-container .card-container .card-item .card-content .card-date {
  text-align: center;
}
#tour .tour-container .card-container .card-item .card-content .card-date p {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--primary);
}
#tour .tour-container .card-container .card-item .card-content .content-center .card-locate {
  color: var(--white);
  font-size: 59px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
@media (max-width: 575px) {
  #tour .tour-container .card-container .card-item .card-content .content-center .card-locate {
    font-size: 36px;
  }
}
#tour .tour-container .card-container .card-item .card-content .content-center .card-price {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}
#tour .tour-container .card-container .card-item .card-content .content-center .rating {
  position: relative;
  text-align: center;
}
#tour .tour-container .card-container .card-item .card-content .content-center .rating .fas {
  font-size: 18px;
  margin-left: 5px;
  z-index: 3;
}
#tour .tour-container .card-container .card-item .card-content .content-center .rating .fas:first-child {
  color: #ffeb8d;
}
#tour .tour-container .card-container .card-item .card-content .content-center .rating .fas:nth-child(2) {
  color: #fed46b;
}
#tour .tour-container .card-container .card-item .card-content .content-center .rating .fas:nth-child(3) {
  color: #fbb53d;
}
#tour .tour-container .card-container .card-item .card-content .content-center .rating .fas:nth-child(4) {
  color: #fa9e1b;
}
#tour .tour-container .card-container .card-item .card-content .content-center .rating .fas:last-child {
  color: var(--gray);
}
#tour .tour-container .card-container .card-item .card-content .card-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
#tour .tour-container .card-container .card-item .card-content .card-button a {
  color: var(--white);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
#tour .tour-container .card-container .card-item .card-content .card-button:hover .button-bg {
  top: 0;
  left: -100%;
}
#tour .tour-container .card-container .card-item .card-content .card-button .button-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  z-index: -1;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
@media (max-width: 1023px) {
  #tour .tour-container .card-container .card-item {
    margin-bottom: 60px;
  }
}

#cta {
  position: relative;
  padding-top: 125px;
  padding-bottom: 116px;
}
#cta .cta__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/cta.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.6; */
}
#cta .cta__bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  opacity: 0.7;
}
#cta .cta__container {
  position: relative;
}
#cta .cta__container .cta__content {
  position: relative;
  background-color: var(--white);
  padding: 90px 70px;
  z-index: 2;
  /* .cta__heading {
      margin-bottom: 4px;
      color: var(--black);
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      @include breakpoint-down(large) {
          line-height: 1.3;
      }
      @include breakpoint-down(small) {
          font-size: 22px;
      }
  } */
}
@media (max-width: 575px) {
  #cta .cta__container .cta__content {
    padding: 20px 14px 30px;
  }
}
#cta .cta__container .cta__content .cta__rating {
  margin-bottom: 30px;
}
#cta .cta__container .cta__content .cta__rating .fas {
  font-size: 18px;
  margin-left: 5px;
  z-index: 3;
}
#cta .cta__container .cta__content .cta__rating .fas:first-child {
  color: #ffeb8d;
}
#cta .cta__container .cta__content .cta__rating .fas:nth-child(2) {
  color: #fed46b;
}
#cta .cta__container .cta__content .cta__rating .fas:nth-child(3) {
  color: #fbb53d;
}
#cta .cta__container .cta__content .cta__rating .fas:nth-child(4) {
  color: #fa9e1b;
}
#cta .cta__container .cta__content .cta__rating .fas:last-child {
  color: var(--gray);
}
#cta .cta__container .cta__content .cta__paragraph {
  color: var(--gray);
  font-size: 14px;
  font-weight: 600;
  line-height: 2.29;
  text-align: center;
}
#cta .cta__container .cta__content .cta__button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 45px;
  z-index: inherit;
}
#cta .cta__container .cta__content .cta__button a {
  color: var(--white);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
#cta .cta__container .cta__content .cta__button:hover .button-bg {
  top: 0;
  left: -100%;
}
#cta .cta__container .cta__content .cta__button .button-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  z-index: -1;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
#cta .cta__container .swiper-button-next {
  right: -80px;
}
#cta .cta__container .swiper-button-next .fas {
  color: var(--white);
  font-size: 10px;
}
@media (max-width: 991px) {
  #cta .cta__container .swiper-button-next {
    display: none;
  }
}
#cta .cta__container .swiper-button-prev {
  left: -80px;
}
#cta .cta__container .swiper-button-prev .fas {
  color: var(--white);
  font-size: 10px;
}
@media (max-width: 991px) {
  #cta .cta__container .swiper-button-prev {
    display: none;
  }
}

#offers {
  padding: 105px 0 43px 0;
  /* .heading-container {
      .offers__heading {
          display: block;
          color: var(--black);
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
      }
  } */
}
#offers .offers-item {
  margin-top: 90px;
}
@media (max-width: 575px) {
  #offers .offers-item {
    margin-top: 30px;
  }
}
#offers .offers-item .offers-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  #offers .offers-item .offers-image-container {
    height: 310px;
  }
}
#offers .offers-item .offers-image-container .offers-image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#offers .offers-item .offers-image-container .offers-name {
  position: absolute;
  bottom: 30px;
  left: 0;
  background-color: var(--primary);
}
#offers .offers-item .offers-image-container .offers-name a {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 20px;
  padding-right: 30px;
}
@media (max-width: 1023px) {
  #offers .offers-item .offers-content {
    margin-top: 40px;
  }
}
#offers .offers-item .offers-content .offers-price {
  color: #eda84a;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
#offers .offers-item .offers-content .offers-price span {
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
  text-transform: lowercase;
}
#offers .offers-item .offers-content .offers-rating {
  margin-bottom: 25px;
}
@media (max-width: 1023px) {
  #offers .offers-item .offers-content .offers-rating {
    margin-bottom: 18px;
  }
}
#offers .offers-item .offers-content .offers-rating .fas {
  font-size: 13px;
  margin-left: 5px;
  z-index: 3;
}
#offers .offers-item .offers-content .offers-rating .fas:first-child {
  color: #ffeb8d;
}
#offers .offers-item .offers-content .offers-rating .fas:nth-child(2) {
  color: #fed46b;
}
#offers .offers-item .offers-content .offers-rating .fas:nth-child(3) {
  color: #fbb53d;
}
#offers .offers-item .offers-content .offers-rating .fas:nth-child(4) {
  color: #fa9e1b;
}
#offers .offers-item .offers-content .offers-rating .fas:last-child {
  color: var(--gray);
}
#offers .offers-item .offers-content .offers-text {
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 2;
  margin-bottom: 24px;
}
@media (max-width: 1023px) {
  #offers .offers-item .offers-content .offers-text {
    margin-bottom: 18px;
  }
}
#offers .offers-item .offers-content .offers-icons {
  margin-bottom: 56px;
}
@media (max-width: 1023px) {
  #offers .offers-item .offers-content .offers-icons {
    margin-bottom: 46px;
  }
}
#offers .offers-item .offers-content .offers-icons .offers-icons-list .offers-icon-item {
  padding-right: 15px;
}
#offers .offers-item .offers-content .offers-readmore a {
  color: var(--black);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
}
#offers .offers-item .offers-content .offers-readmore a:hover {
  color: var(--primary);
}

#testimonials {
  position: relative;
  padding: 105px 0;
}
@media (max-width: 575px) {
  #testimonials {
    padding: 70px 0;
  }
}
#testimonials .testimonials__slider {
  position: relative;
  padding-top: 36px;
  margin-top: 54px;
}
@media (max-width: 575px) {
  #testimonials .testimonials__slider {
    margin-top: 30px;
  }
}
#testimonials .testimonials__slider .testimonials__item {
  position: relative;
}
#testimonials .testimonials__slider .testimonials__item .testimonials__bg {
  position: relative;
  display: block;
  top: 0;
  left: 0;
}
#testimonials .testimonials__slider .testimonials__item .testimonials__bg img {
  display: block;
  width: 100%;
}
#testimonials .testimonials__slider .testimonials__item .testimonials--icon {
  position: absolute;
  top: -36px;
  left: 36px;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #fa9e1b;
  z-index: 2;
}
#testimonials .testimonials__slider .testimonials__item .testimonials--icon img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#testimonials .testimonials__slider .testimonials__item .testimonials-container-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 44%;
  background-color: rgba(49, 18, 75, 0.8);
}
#testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-info {
  position: absolute;
  top: 0;
  left: 10%;
  padding: 9px 21px 10px 20px;
  background-color: var(--white);
  transform: translateY(-65%);
  -webkit-transform: translateY(-65%);
  -moz-transform: translateY(-65%);
  -ms-transform: translateY(-65%);
  -o-transform: translateY(-65%);
}
@media (max-width: 575px) {
  #testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-info {
    padding: 6px 18px 7px 17px;
  }
}
#testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-info .testimonials-name {
  color: #2d2c2c;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
#testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-info .testimonials-date {
  color: #2d2c2c;
  font-size: 11px;
}
#testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-quote {
  padding: 44px 40px 0 38px;
}
@media (max-width: 575px) {
  #testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-quote {
    padding: 34px 30px 0 28px;
  }
}
#testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-quote h1 {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
@media (max-width: 575px) {
  #testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-quote h1 {
    font-size: 18px;
  }
}
#testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-quote p {
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}
@media (max-width: 575px) {
  #testimonials .testimonials__slider .testimonials__item .testimonials-container-content .testimonials-quote p {
    font-size: 12px;
  }
}
#testimonials .testimonials-button-slider.swiper-button-prev {
  left: 100px;
  border: solid 2px var(--gray);
}
#testimonials .testimonials-button-slider.swiper-button-prev .fas {
  color: var(--gray);
  font-size: 10px;
}
#testimonials .testimonials-button-slider.swiper-button-next {
  right: 100px;
  border: solid 2px var(--gray);
}
#testimonials .testimonials-button-slider.swiper-button-next .fas {
  color: var(--gray);
  font-size: 10px;
}

#trending {
  position: relative;
  padding-top: 105px;
  padding-bottom: 50px;
}
@media (max-width: 575px) {
  #trending {
    padding-top: 70px;
    padding-bottom: 35px;
  }
}
#trending .trending-line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
}
#trending .section-title {
  display: block;
  color: var(--black);
  font-style: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
#trending .row-container {
  margin-top: 90px;
}
#trending .row-container .trending-item {
  margin-bottom: 55px;
}
#trending .row-container .trending-item .trending-item-content {
  margin-left: 12px;
}
#trending .row-container .trending-item .trending-item-content .trending-item-title {
  margin-top: 3px;
  margin-bottom: 5px;
}
#trending .row-container .trending-item .trending-item-content .trending-item-title a {
  color: #2d2c2c;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
#trending .row-container .trending-item .trending-item-content .trending-item-price {
  color: #fa9e1b;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5px;
}
#trending .row-container .trending-item .trending-item-content .trending-item-locate {
  color: #929191;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

#contact {
  position: relative;
  padding-bottom: 105px;
}
@media (max-width: 575px) {
  #contact {
    padding-bottom: 70px;
  }
}
#contact .contact-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -34px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact .contact-container .col.l-7 {
  z-index: 1;
}
#contact .contact-container .col.l-7 .contact-form-container {
  padding: 74px 48px 88px;
  background: linear-gradient(to top right, #fa9e1b, #8d4fff);
}
@media (max-width: 575px) {
  #contact .contact-container .col.l-7 .contact-form-container {
    padding: 18px 16px 24px;
  }
}
#contact .contact-container .col.l-7 .contact-form-container .contact-form-title {
  color: var(--white);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
#contact .contact-container .col.l-7 .contact-form-container .contact-form {
  margin-top: 52px;
}
#contact .contact-container .col.l-7 .contact-form-container .contact-form .contact-form-name {
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
}
#contact .contact-container .col.l-7 .contact-form-container .contact-form .contact-form-email {
  width: calc((100% - 30px) / 2);
  float: right;
}
#contact .contact-container .col.l-7 .contact-form-container .contact-form .contact-form-subject {
  width: 100%;
}
#contact .contact-container .col.l-7 .contact-form-container .contact-form .contact-form-message {
  width: 100%;
  height: 126px;
  margin-top: 19px;
}
#contact .contact-container .col.l-7 .contact-form-container .contact-form .contact-form-button {
  margin-top: 52px;
  background-color: #31124b;
}
@media (max-width: 575px) {
  #contact .contact-container .col.l-7 .contact-form-container .contact-form .contact-form-button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

#footer {
  width: 100%;
  padding-top: 113px;
  padding-bottom: 104px;
  background: #31124b;
}
#footer .row .footer-column {
  position: relative;
}
@media (max-width: 991px) {
  #footer .row .footer-column {
    margin-top: 30px;
  }
}
#footer .row .footer-column .footer-title {
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
#footer .row .footer-column .footer-content {
  margin-top: 39px;
}
@media (max-width: 991px) {
  #footer .row .footer-column .footer-content {
    margin-top: 24px;
  }
}
#footer .row .footer-column .footer-content .footer-logo {
  margin-top: -29px;
  margin-bottom: -34px;
}
#footer .row .footer-column .footer-content .footer-logo a {
  color: #f4f4f8;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}
#footer .row .footer-column .footer-content .footer-about-text {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  padding-top: 67px;
}
#footer .row .footer-column .footer-content .footer-logo-list .footer-logo-item {
  display: inline-block;
  position: relative;
  width: 31px;
  height: 31px;
  border-radius: 100%;
  margin-right: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: solid 1px #fa9e1b;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#footer .row .footer-column .footer-content .footer-logo-list .footer-logo-item:hover {
  background-color: #fa9e1b;
}
#footer .row .footer-column .footer-content .footer-logo-list .footer-logo-item:hover .footer-logo-link i {
  color: #31124b;
}
#footer .row .footer-column .footer-content .footer-logo-list .footer-logo-item .footer-logo-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
#footer .row .footer-column .footer-content .footer-logo-list .footer-logo-item .footer-logo-link i {
  position: relative;
  display: block;
  font-size: 12px;
  top: 50%;
  left: 50%;
  color: var(--white);
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#footer .row .footer-column .footer-content.footer-blog .footer-blog-item {
  margin-bottom: 14px;
}
#footer .row .footer-column .footer-content.footer-blog .footer-blog-item .footer-blog-content {
  width: 100%;
  padding-left: 15px;
}
#footer .row .footer-column .footer-content.footer-blog .footer-blog-item .footer-blog-content .footer-blog-title a {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
}
#footer .row .footer-column .footer-content.footer-blog .footer-blog-item .footer-blog-content .footer-blog-title a:hover {
  color: #fa9e1b;
}
#footer .row .footer-column .footer-content.footer-blog .footer-blog-item .footer-blog-content .footer-blog-date {
  color: #fa9e1b;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}
#footer .row .footer-column .footer-content.footer-tags .footer-tags-list .footer-tags-item {
  display: inline-block;
  border: solid 1px #fa9e1b;
  margin-right: 9px;
  margin-bottom: 9px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#footer .row .footer-column .footer-content.footer-tags .footer-tags-list .footer-tags-item:hover {
  background-color: #fa9e1b;
}
#footer .row .footer-column .footer-content.footer-tags .footer-tags-list .footer-tags-item a {
  display: block;
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  line-height: 33px;
  padding: 0 25px;
}
#footer .row .footer-column .footer-content.footer-contact .footer-content-item .icon {
  width: 20px;
  height: 20px;
}
#footer .row .footer-column .footer-content.footer-contact .footer-content-item .icon img {
  width: 100%;
  height: 100%;
}
#footer .row .footer-column .footer-content.footer-contact .footer-content-item .contact-info {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 22px;
}

/*# sourceMappingURL=style.css.map */
